* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  height: 150;
  font-family: "Inter", serif;
  background-color: #ffff;
}

.sidebar {
  padding: 10px;
  padding-right: 50px;

  background-color: aquamarine;
  width: 200px;
}

.sidebar ul {
  margin-top: 45px;
  list-style: none;
  margin-left: 10px;
  font-weight: bold;
  font-size: small;
}
.sidebar ul li {
  padding-top: 20px;
}
li {
  display: flex;
  align-items: center;
}
.sidebarsvg {
  fill: white;
  margin-right: 10px;
  width: 20px;
}
svg {
  width: 20px;
  min-width: 20px;
  margin-left: 5px;
}
.sectionOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
header {
  width: 100%;
  padding: 15px;
  border-bottom: solid 5px #d4d4d8;
}
input {
  background-color: #e2e8f0;
  width: 600px;
  height: 25px;
  border-radius: 15px;
  border: none;
  object-fit: cover;
}
.he {
  margin-left: 20px;
}
div {
  display: flex;
  align-items: center;
}
#name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
#dashboard {
  width: 40px;
  height: 40px;
  fill: white;
}
label {
  background-color: #0369a1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 25px;
  color: white;
  font-size: 10px;
  padding: 15px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background-color: #e2e8f0;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 20px;
}
.mainOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
p {
  font-size: 12px;
  margin-top: 3px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border-left: 10px solid #eab308;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 180px);
  margin-top: 10px;
  margin-right: 20px;
  height: 100%;
  gap: 17px;
}
#secondhalf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
.maintwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.boxcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: rgba(3, 3, 3, 0.383) solid 1px;
  padding: 15px;
}
.cardsvg {
  align-self: flex-end;
}
#boxE {
  padding: 10px;
  padding-top: 0px;
}
